<div class="container" >
    <h1> Segundo formulario de registro </h1>
    <form [formGroup]="createUserForm2" (ngSubmit)="saveUser()" >

        <div class="form-row" >
            <div class="form-group col-md-6" >
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName" />
                <input type="hidden" id="role" formControlName="role" >
            </div>
            <div class="form-group col-md-6" >
                <label for="lastName">Apellidos</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName" />
            </div>
        </div>

        <div class="form-row" >
            <div class="form-group col-md-6" >
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email" >
                <p *ngIf=" createUserForm2.get('email').hasError('email') " > El email es incorrecto </p>
            </div>
            <div class="form-group col-md-6" >
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password" >
                <p *ngIf=" createUserForm2.get('password').errors?.minlength " > La contraseña debe tener minimo 6 caracteres. </p>
            </div>
        </div>

        <div class="form-row" >
            <div class="form-group col-md-6" >
                <label for="birthDate">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="birthDate" formControlName="birthDate" >
                <p *ngIf=" createUserForm2.get('birthDate').hasError('fechaFuturo')  "> Seleccionaste una fecha del futuro </p>
                <p *ngIf=" createUserForm2.get('birthDate').hasError('menorEdad')  "> Eres menor de edad </p>
            </div>
        </div>

        <div class="form-row" *ngIf="!createUserForm2.valid" >
            <p>Error, todos los campos son valido</p>
        </div>

        <button type="button" class="btn btn-info" > Enviar</button>


    </form>
</div>
